body {
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: 'Rubik';
    font-size: 16px;
    line-height: 1.4;
    color: #333;
}

/* Layout */
.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
@media (min-width: 992px) {
    .container {
        width: 970px;
     }
}
.row {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

/* Props */
#dhead {
    margin-top: 20px;
}
#dpic {
    grid-column: span 6;
    text-align: right;
}
#ddesc {
    padding-top: 40px;
    padding-left: 20px;
    grid-column: span 6;
}
@media (max-width: 991px) {
    #dpic {
      grid-column: span 12;
      text-align: center;
    }
    #ddesc {
      grid-column: span 12;
      padding-top: 20px;
      text-align: center;
    }
}
h1 {
    font-size: 34px;
    font-weight: normal;
    padding: 0;
    margin: 0;
}
h2 {
    font-weight: normal;
    font-style: italic;
    color: #999;
    font-size: 18px;
    padding: 0;
    margin: 5px 0 10px 0;
}
@media (min-width: 992px) {
    h2 {
        max-width: 300px;
    }
}
#dpic img {
    width: 240px;
    height: 240px;
    border-radius: 120px;
}
.iico {
    width: 40px;
    height: 40px;
}
#demail {
    margin-top: 10px;
    color: #555;
    opacity: 0;
    transition: opacity 0.7s;
}
hr {
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    padding: 0;
    margin: 20px 0px 20px 0px;
    border: 0;
}
.ico {
    grid-column: span 1;
    vertical-align: top;
    border-left: 2px solid #cfcfcf;
    position: relative;
}
.ico img {
    border-radius: 5px;
    width: 100%;
    max-width: 80px;
    margin-left: 10px;
}
.desc {
    grid-column: span 10;
    vertical-align: top;
    font-size: 17px;
    padding-left: 20px;
    padding-bottom: 20px;
}
.entry {
}
.entry-dot {
    position: absolute;
    top: 0px;
    left: -8px;
    width: 10px;
    height: 10px;
    border-radius: 7px;
    background-color: #cfcfcf;
    border: 2px solid white;
}
.timespan {
    grid-column: span 1;
    font-size: 14px;
    text-align: right;
    padding-right: 5px;
    color: #bbb;
}
.hassets {
    position: relative;
}
@media (max-width: 991px) {
    .hassets {
        display: none;
    }
}
.hasset {
    position: absolute;
    margin: 0;
    padding: 0;
}
.ctitle {
    font-size: 36px;
    margin-bottom: 20px;
    margin-top: 40px;
}
#featured-talks .row {
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    padding-bottom: 30px;
}
.card {
    grid-column: span 3;
    vertical-align: top;
    background-color: #eee;
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 5px;
    background-color: white;
    padding-bottom: 10px;
}
@media (max-width: 991px) {
    .card {
        grid-column: span 6;
    }
    #featured-talks .row {
        grid-column-gap: 5px;
        grid-row-gap: 5px;
    }
}
.card img {
    border-radius: 5px;
    width: 100%;
}
.cdesc {
    height: 30px;
    vertical-align: top;
    margin-bottom: 10px;
    font-size: 15px;
}
@media (max-width: 768px) {
    .cdesc {
        font-size: 14px;
        padding-bottom: 10px;
    }
}
#pet-projects .row {
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}
.project {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}
.pico {
    float: left;
    margin-right: 10px;
}
.pdesc {
}
.pend {
    clear: both;
}
.pico img {
    height: 80px;
    border-radius: 5px;
    border: 1px solid #999;
}
.pub {
    font-size: 14px;
    border-left: 4px solid #aaa;
    padding: 2px 0px 2px 10px;
    margin-bottom: 10px;
}
.pub-title {
    display: inline;
    color: #333;
}
.pub-venue {
    display: inline;
    color: #090;
}
.pub-authors {
    display: block;
    color: #900;
}
.tul {
    text-align: center;
    padding: 0;
}
.til {
    display: inline-block;
    padding: 3px 15px 3px 15px;
    margin-bottom: 5px;
}
.tilb {
    border-right: 1px solid #ccc;
}
.nodot {
    list-style-type: none;
    padding-left: 0;
}
body {
    font-family: "Century Gothic", 'Lato', sans-serif;
}

a {
text-decoration: none;
}

.et-hero-tabs,
.et-slide {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
min-height: 100vh;
position: relative;
background: #f0f3f5;
    text-align: center;
    padding: 0 2em;
h1 {
    font-size: 2rem;
    margin: 0;
    letter-spacing: 1rem;
    color: #0C2B31;
}
h3 {
    font-size: 1rem;
    letter-spacing: 0.3rem;
    opacity: 0.6;
    color: #0C2B31;
}
}

.et-hero-tabs-container {
display: flex;
flex-direction: row;
position: absolute;
bottom: 0;
width: 100%;
height: 70px;
box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
background: #fff;
z-index: 10;
&--top {
    position: fixed;
    top: 0;
}
}

.et-hero-tab {
display: flex;
justify-content: center;
align-items: center;
flex: 1;
color: #000;
letter-spacing: 0.1rem;
    transition: all 0.5s ease;
    font-size: 0.8rem;
  &:hover {
        color:white;
  background: #7B2D26;
        transition: all 0.5s ease;
}
}

.et-hero-tab-slider {
position: absolute;
bottom: 0;
width: 0;
height: 6px;
background: #7B2D26;
transition: left 0.3s ease;
}

@media (min-width: 800px) {
.et-hero-tabs,
.et-slide {
h1 {
    font-size: 3rem;
    font-family: 'Rubik';
}
h3 {
    font-size: 1rem;
    font-family: 'Rubik';
}
}
.et-hero-tab {
    font-size: 1rem;
}
}
.et-hero-tabs-container--top {
    position: fixed;
    top: 0;
    z-index: 1000;
}

.et-hero-tab-active {
    font-weight: bold; /* Example style for the active tab */
}

.timeline {
    position: relative;
    padding: 50px 0;
  }
  
  .timeline::before {
    content: '';
    position: absolute;
    left: 50%;
    height: 100%;
    width: 4px;
    background: #7B2D26;
  }
  
  .timeline-item {
    position: relative;
    width: 40vw;
    padding: 10px 40px;
    box-sizing: border-box;
  }
  
  .timeline-item:nth-child(odd) {
    left: -20vw;
  }
  
  .timeline-item:nth-child(even) {
    left: 20vw;
  }
  
  .timeline-content {
    position: relative;
    padding: 20px;
    background: #fff;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16);
    border-radius: 12px;
  }
  
  .timeline-content::before {
    content: attr(data-year);
    position: absolute;
    left: 100%;
    top: 20px;
    white-space: nowrap;
    color: #555;
    font-weight: bold;
  }
  
  .timeline-content h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  
  .timeline-content p {
    margin-bottom: 10px;
  }
  
  .timeline-content img {
    max-width: 100%;
    height: auto;
  }
  
  .timeline-item:nth-child(odd) .timeline-content::before {
    left: auto;
    right: 100%;
  }
  
  @media screen and (max-width: 600px) {
    .timeline::before {
      left: 10px;
    }
  
    .timeline-item {
      width: 100%;
      left: 0;
      padding-left: 30px;
    }
  
    .timeline-item .timeline-content::before {
      position: static;
      display: block;
      margin-bottom: 10px;
    }
  }

  .timeline-date {
    color: #555; /* Choose a color that makes the text visible */
    font-weight: bold;
    position: absolute; /* Position the dates absolutely to control their placement */
    top: -10px; /* Adjust as necessary to place above the content card */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Adjust as necessary for centering */
    background: white; /* Background color for the date */
    padding: 5px 10px; /* Padding around the date text */
    border-radius: 8px; /* Optionally, add rounded corners to the date background */
    z-index: 3; /* Ensure the date is above the timeline bar */
  }

  /* Existing styles */

/* Add styles for the logo images */
.timeline-image {
    display: block; /* Logos are block-level to manage layout */
    max-width: 100%; /* Ensures the image is never bigger than its container */
    height: auto; /* Maintains aspect ratio */
    margin-bottom: 20px; /* Spacing between the logo and the text */
  }
  
  /* You may want to customize the sizes for larger screens */
  @media screen and (min-width: 600px) {
    .timeline-image {
      max-width: 80%; /* Example: you may want the logo to be smaller */
      margin-bottom: 30px;
      margin-left: auto; /* Center align the image */
      margin-right: auto;
    }
  }
  @media screen and (max-width: 600px) {
    .timeline-date {
      position: static; /* Stack the date on top of the card for small screens */
      transform: none;
      margin-bottom: 10px; /* Add space between the date and content card */
    }
  }
  @media (max-width: 768px) { /* Adjusts styles for screens up to 768px wide */
    .timeline-item {
      width: 100%; /* On smaller screens, each item takes full width */
      /* You can adjust padding, margins, etc., here as well */
    }
}

.about-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap; /* Ensure content wraps on smaller screens */
    gap:40px;
  }
  
  .about-top {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center align the items for aesthetics */
  }
  
  .about-right {
    flex: 1;
    /* Adjust padding or margin as necessary */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .about-image-top img, .about-right img {
    width: 100%;
    max-width: 400px; /* Adjust based on your preference */
    height: auto;
    margin-bottom: 20px; /* Space between the top image and text */
  }
  
  .about-text {
    /* Style your text as needed */
    font-family: 'Rubik';
    font-size: 1.1rem;
  }
  
  /* Responsive adjustments for smaller screens */
  @media (max-width: 768px) {
    .about-container {
      flex-direction: column;
    }
  
    .about-top, .about-right {
      width: 100%; /* Take full width on smaller screens */
    }
  
    .about-image-top img, .about-right img {
      max-width: 100%;
    }
  }
  
  section.et-hero-tabs {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    height: 100vh;
  }

  #text {
    min-height: 30px; /* Ensures the container does not collapse when empty */
    width: auto; /* Adjust width as necessary */
    text-align: center;
    display: inline; /* Makes it easier to manage layout */
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.skill-item {
  width: calc(25% - 10px); /* Subtract margin */
  margin: 5px; /* Half the subtracted amount to maintain spacing on both sides */
  border: 3px solid #7B2D26; /* Your existing border */
  border-radius: 10px; /* Your existing border-radius */
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column; /* Stack image and text vertically */
  align-items: center;
  text-align: center; /* Center text */
}

.skill-item img {
  width: 70%; /* Reduced size of the image */
  height: auto;
  transition: transform 0.3s ease; /* Ensure this matches the container's transition */
}

.skill-item:hover {
  transform: scale(1.1); /* A subtle scale for the hover effect */
}

.skill-item .skill-title {
  color: rgb(0, 0, 0); /* Adjust the color to fit your design */
  margin:1px;
  font-size: 1.1em; /* Adjust the size as needed */
}

.contact-section {
  text-align: center;
  background: #FFF;
  padding: 20px;
  border-radius: 30px;
  max-width: 600px;
  margin: 0 auto; /* This centers the contact section */
}

.contact-title {
  font-size: 18px;
  color: #666;
  margin-bottom: 5px;
}

.contact-header {
  font-size: 32px;
  color: #333;
  margin-bottom: 20px;
}

.contact-links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-link {
  display: flex;
  align-items: center;
  margin: 0 10px;
  text-decoration: none;
  color: #333;
  border: 2px solid transparent;
  padding: 10px;
  border-radius: 50px;
  transition: border-color 0.3s;
}

.contact-link img {
  height: 24px;
  margin-right: 10px;
}

.contact-link span {
  font-size: 16px;
}

.contact-link:hover {
  border-color: #000; /* Change as per your color scheme */
}

.contact-card {
  background: #F9F9F9; /* Light grey background */
  border-radius: 20px; /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  padding: 40px; /* Spacing inside the card */
  max-width: 800px; /* Maximum width of the card */
  margin: 40px auto; /* Center the card with margin */
}

.contact-section {
  background: #FFF;
  border-radius: 30px;
  padding: 20px;
  max-width: 600px;
  margin: 0 auto; /* Center the contact-section inside the card */
}

/* ... other styles remain the same ... */
.projects-page {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.projects-title {
  text-align: center;
  margin-bottom: 30px;
}

.projects-container {
  display: flex;
  flex-wrap: wrap; /* This allows items to wrap onto the next row */
  justify-content: center; /* This will center the cards in the container */
  gap: 30px; /* This is the space between the cards */
  padding: 20px; /* Added padding for better spacing */
}

.project-card {
  flex: 0 0 auto; /* don't grow, don't shrink, basis is auto */
  width: 400px; /* increased width */
  margin: 10px; /* Ensure there's space between cards */
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  text-align: center; /* Center everything inside the card */
  /* Remove height: auto; if you want all cards to have the same height */
}

.project-image {
  width: 100%; /* Image takes up full width of the .project-card */
  height: auto; /* Maintain aspect ratio */
  border-radius: 10px; /* Optional: to round the corners of the image */
  margin-bottom: 20px; /* Increased space between image and the title */
}

/* ... other styles remain the same ... */

.project-description {
  font-size: 1em;
  margin-bottom: 20px;
}

.github-link {
  text-decoration: none;
  color: #333;
  background: #f0f0f0;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.github-link:hover {
  background-color: #ddd; /* Darker shade on hover */
}

/* ... other styles remain the same ... */

.project-card .project-title {
  font-size: 2em; /* Makes the title larger and more prominent */
  text-align: center; /* Ensures the title is centered */
  font-weight: bold; /* Makes the title bold */
  color: #333; /* Adjust the color as needed */
  margin-top: 10px;
  margin-bottom: 15px; /* Adjust spacing as needed */
}


/* ... other styles remain the same ... */


/* ... other styles remain the same ... */